@page "/"
@page "/Home"
@rendermode InteractiveServer
@using INIManagerServer.Components.Models
@using INIManagerServer.Components.Pages.Dialogs
@using INIManagerServer.Components.Services
@using INIManagerServer.Components.Services.Interfaces
@using DialogOptions = MudBlazor.DialogOptions
@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager
@inject IConfigurationService ConfigurationService
@inject ConfigurationDraftService ConfigurationDraftService
@inject IDialogService DialogService

<MudPopoverProvider/>
<MudDialogProvider/>
<MudDialog/>

<div class="container">
    <div class="table-container">
        <h3>Draft Configurations</h3>
        <div class="table-wrapper">
            <table id="draftTable">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Workstations</th>
                    <th>Timestamp</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var configuration in _configurationDrafts)
                {
                    <tr>
                        <td>@configuration.Id</td>
                        <td>@configuration.Bezeichnung</td>
                        <td>
                            <select>
                                @foreach (var workstation in configuration.Workstations)
                                {
                                    <option value="@workstation.Name">@workstation.Name</option>
                                }
                            </select>
                        </td>
                        <td>@configuration.Timestamp</td>
                        <td>
                            <div class="action-buttons">
                                <button class="btn btn-edit" title="Edit" @onclick="() => EditDraft(configuration.Id)"><i
                                        class="fas fa-edit"></i></button>
                                <button class="btn btn-export" title="Export" @onclick="() => ExportDraft(configuration.Id)">
                                    <i class="fas fa-file-export"></i>
                                </button>
                                <button class="btn btn-delete" title="Delete" @onclick="() => DeleteDraft(configuration.Id)">
                                    <i class="fas fa-trash"></i></button>
                            </div>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>

    <div class="table-container">
        <h3>Finished Configurations</h3>
        <div class="table-wrapper">
            <table id="finishedTable">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Workstations</th>
                    <th>Timestamp</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var configuration in _configurations)
                {
                    <tr>
                        <td>@configuration.Id</td>
                        <td>@configuration.Bezeichnung</td>
                        <td>
                            <select>
                                @foreach (var workstation in configuration.Workstations)
                                {
                                    <option value="@workstation.Name">@workstation.Name</option>
                                }
                            </select>
                        </td>
                        <td>@configuration.Timestamp</td>
                        <td>
                            <div class="action-buttons">
                                <button class="btn btn-edit" title="Edit" @onclick="() => Edit(configuration.Id)"><i
                                        class="fas fa-edit"></i></button>
                                <button class="btn btn-export" title="Export" @onclick="() => Export(configuration.Id)">
                                    <i class="fas fa-file-export"></i>
                                </button>
                                <button class="btn btn-delete" title="Delete" @onclick="() => Delete(configuration.Id)">
                                    <i class="fas fa-trash"></i></button>
                            </div>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    List<Configuration> _configurationDrafts = [];
    List<Configuration> _configurations = [];

    protected override async Task OnInitializedAsync()
    {
        NavigationManager.LocationChanged += (sender, args) =>
        {
            JsRuntime.InvokeVoidAsync("handleRouteChange", args.Location);
        };
        
        var uri = new Uri(NavigationManager.Uri);
        var query = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query);
        var value = query.GetValueOrDefault("noorigin");
        if (value == "true") await OpenError_Dialog_NoOriginFound_Async();

        _configurationDrafts = await ConfigurationDraftService.ReadConfiguration();
        _configurations = await ConfigurationService.ReadConfiguration();

        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("initHome");
        }
    }

    void EditDraft(int id)
    {
        Console.WriteLine(id);
        Task.Delay(100);
        NavigationManager.NavigateTo($"/Configurator/{id}?from=Draft");
    }

    void ExportDraft(int id)
    {
    }

    void DeleteDraft(int id)
    {
    }
    
    void Edit(int id)
    {
        Console.WriteLine(id);
        Task.Delay(100);
        NavigationManager.NavigateTo($"/Configurator/{id}?from=Finished");
    }

    void Export(int id)
    {
    }

    void Delete(int id)
    {
    }

    private Task OpenError_Dialog_NoOriginFound_Async()
    {
        var options = new DialogOptions { BackgroundClass = "my-custom-class" };
        return DialogService.ShowAsync<Error_Dialog_NoOriginFound>("No origin was found", options);
    }

}