@page "/"
@page "/Home"
@rendermode InteractiveServer
@using INIManager.Components.Models
@using INIManager.Components.Pages.Dialogs
@using INIManager.Components.Services
@using INIManager.Components.Services.Interfaces
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.Extensions.Caching.Memory
@using DialogOptions = MudBlazor.DialogOptions
@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager
@inject ConfigurationService ConfigurationService
@inject ConfigurationDraftService ConfigurationDraftService
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject IAdoService AdoService
@inject ILockService LockService
@inject IExportService ExportService
@inject SetSavedService SetSavedService

<MudPopoverProvider/>
<MudDialogProvider/>
<MudDialog/>
<MudSnackbarProvider/>

<div class="container">
    <div class="table-container">
        <h3>Draft Configurations</h3>
        <div class="table-wrapper">
            <table id="draftTable">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Workstations</th>
                    <th>Timestamp</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var configuration in _configurationDrafts)
                {
                    <tr>
                        <td>@configuration.Id</td>
                        <td>@configuration.Bezeichnung</td>
                        <td>
                            <select>
                                @foreach (var workstation in configuration.Workstations)
                                {
                                    <option value="@workstation.Bezeichnung">@workstation.Bezeichnung</option>
                                }
                            </select>
                        </td>
                        <td>@configuration.Timestamp</td>
                        <td>
                            <div class="action-buttons">
                                <button class="btn btn-edit" title="Edit" @onclick="() => Edit(configuration.Id, true)">
                                    <i
                                        class="fas fa-edit"></i></button>
                                <button class="btn btn-export" title="Export"
                                        @onclick="() => Export(configuration)">
                                    <i class="fas fa-file-export"></i>
                                </button>
                                <button class="btn btn-delete" title="Delete"
                                        @onclick="() => Delete(configuration.Id, true)">
                                    <i class="fas fa-trash"></i></button>
                            </div>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>

    <div class="table-container">
        <h3>Finished Configurations</h3>
        <div class="table-wrapper">
            <table id="finishedTable">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Workstations</th>
                    <th>Timestamp</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var configuration in _configurations)
                {
                    <tr>
                        <td>@configuration.Id</td>
                        <td>@configuration.Bezeichnung</td>
                        <td>
                            <select>
                                @foreach (var workstation in configuration.Workstations)
                                {
                                    <option value="@workstation.Bezeichnung">@workstation.Bezeichnung</option>
                                }
                            </select>
                        </td>
                        <td>@configuration.Timestamp</td>
                        <td>
                            <div class="action-buttons">
                                <button class="btn btn-edit" title="Edit"
                                        @onclick="() => Edit(configuration.Id, false)"><i
                                        class="fas fa-edit"></i></button>
                                <button class="btn btn-export" title="Export"
                                        @onclick="() => Export(configuration)">
                                    <i class="fas fa-file-export"></i>
                                </button>
                                <button class="btn btn-delete" title="Delete"
                                        @onclick="() => Delete(configuration.Id, false)">
                                    <i class="fas fa-trash"></i></button>
                            </div>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    List<Configuration> _configurationDrafts = [];
    List<Configuration> _configurations = [];

    private string textHardware;
    private string textParams;
    private string textDefault;
    private string textM2kSys;

    private HubConnection _hubConnection;

    protected override async Task OnInitializedAsync()
    {
        await AdoService.LoadWorkstationsFromAzureDevOps();

        _hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/configurationHub"))
            .Build();

        _hubConnection.On("ReloadConfigurations", async () =>
        {
            Console.WriteLine("ReloadConfigurations event received");
            _configurationDrafts = await ConfigurationDraftService.ReadConfiguration();
            _configurations = await ConfigurationService.ReadConfiguration();
            await InvokeAsync(StateHasChanged);
        });

        await _hubConnection.StartAsync();

        NavigationManager.LocationChanged += (sender, args) => { JsRuntime.InvokeVoidAsync("handleRouteChange", args.Location); };

        var uri = new Uri(NavigationManager.Uri);
        var query = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query);
        var value = query.GetValueOrDefault("noorigin");
        if (value == "true") await OpenError_Dialog_NoOriginFound_Async();

        _configurationDrafts = await ConfigurationDraftService.ReadConfiguration();
        _configurations = await ConfigurationService.ReadConfiguration();

        _configurationDrafts.ForEach(async void (x) =>
        {
            if (x.Workstations != null) await SetSavedService.PublishAsync(x.Workstations);
        });

        _configurations.ForEach(async void (x) =>
        {
            if (x.Workstations != null) await SetSavedService.PublishAsync(x.Workstations);
        });

        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender) await JsRuntime.InvokeVoidAsync("initHome");
    }

    async Task Edit(int id, bool isDraft)
    {
        if (!LockService.IsLocked(id))
        {
            if (isDraft)
            {
                NavigationManager.NavigateTo($"/Configurator/{id}?from=Draft");
            }
            else
            {
                NavigationManager.NavigateTo($"/Configurator/{id}?from=Finished");
            }
        }
        else
        {
            await OpenLocked_Dialog();
        }
    }

    async Task Export(Configuration configuration)
    {
        if (!LockService.IsLocked(configuration.Id))
        {
            var zipBytes = await ExportService.ExportConfigurationAsync(configuration);
            var fileName = $"Configuration-{configuration.Id}.zip";

            using var streamRef = new DotNetStreamReference(new MemoryStream(zipBytes));
            await JsRuntime.InvokeVoidAsync("downloadFileFromStream", fileName, streamRef);
        }
        else
        {
            await OpenLocked_Dialog();
        }
    }

    async Task Delete(int id, bool isDraft)
    {
        if (!LockService.IsLocked(id))
        {
            if (isDraft)
            {
                var result = await ConfigurationDraftService.DeleteConfiguration(id);

                if (result)
                {
                    var itemToRemove = _configurationDrafts.FirstOrDefault(c => c.Id == id);
                    if (itemToRemove is not null)
                        _configurationDrafts.Remove(itemToRemove);

                    Snackbar.Add("Erfolgreich gelöscht!", Severity.Success);
                    StateHasChanged();
                }
                else
                {
                    Snackbar.Add("Konnte nicht gelöscht werden!", Severity.Error);
                }
            }
            else
            {
                var result = await ConfigurationService.DeleteConfiguration(id);

                if (result)
                {
                    var itemToRemove = _configurations.FirstOrDefault(c => c.Id == id);
                    if (itemToRemove is not null)
                        _configurations.Remove(itemToRemove);

                    Snackbar.Add("Erfolgreich gelöscht!", Severity.Success);
                    StateHasChanged();
                }
                else
                {
                    Snackbar.Add("Konnte nicht gelöscht werden!", Severity.Error);
                }
            }
        }
        else
        {
            await OpenLocked_Dialog();
        }
    }

    private Task OpenError_Dialog_NoOriginFound_Async()
    {
        var options = new DialogOptions { BackgroundClass = "my-custom-class" };
        return DialogService.ShowAsync<Error_Dialog_NoOriginFound>("No origin was found", options);
    }

    private Task OpenLocked_Dialog()
    {
        var options = new DialogOptions { BackgroundClass = "my-custom-class" };
        return DialogService.ShowAsync<Locked_Dialog>("Blockiert", options);
    }

}